{% extends 'base.html' %}

{% block head %}
<title> Main Menu </title>
{% endblock %}

{% block body %}
    <h1>Main menu</h1>
    {# <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
            <!-- Add more headers for additional columns if needed -->
        </tr>
        {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <!-- Add more cells for additional columns if needed -->
            </tr>
        {% endfor %}
    </table> #}
{% endblock %}
