{% extends './base/staff.html' %}

{% block head %}
<title> Full Menu Insert Form </title>
{% endblock %}

{% block body %}
    <h1>Full menu insert form</h1>
    <form action="/fm_insert_post" method="POST" enctype="multipart/form-data">
        <h2>Main Menu Data</h2>
        <!-- Main menu dropdown list -->
        <label for="main_menu_id">Select Main Menu:</label>
        <label>
            <select name="main_menu_id" required>
                {% for main_menu in main_menus %}
                <option value="{{ main_menu.id }}">{{ main_menu.name }}</option>
                {% endfor %}
            </select>
        </label>

        <h2>Full Menu Data</h2>
        <label for="name">Full Menu Name:</label>
        <label>
            <input type="text" name="name" required>
        </label><br>
        <label for="description">Full Menu Description:</label>
        <label>
            <textarea name="description" required></textarea>
        </label><br>
        <label for="price">Full Menu Price:</label>
        <label>
            <input type="text" name="price" required>
        </label><br>

        <input type="submit" value="Submit">
    </form>
{% endblock %}
