{% extends 'base.html' %}

{% block head %}
<title> Online Restaurant </title>
{% endblock %}
{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <!-- Card for Login -->
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Login</h5>
                    <p class="card-text">Access your account.</p>
                    <a href="/login" class="btn btn-primary">Go to Login</a>
                </div>
            </div>
        </div>
        <!-- Card for Register -->
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Register</h5>
                    <p class="card-text">Create a new account.</p>
                    <a href="/register" class="btn btn-primary">Go to Register</a>
                </div>
            </div>
        </div>
        <!-- Card for Menu -->
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Menu</h5>
                    <p class="card-text">Browse our dishes.</p>
                    <a href="/menu" class="btn btn-primary">View Menu</a>
                </div>
            </div>
        </div>
        <!-- Card for Cart -->
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Cart</h5>
                    <p class="card-text">Go to Cart.</p>
                    <a href="/cart" class="btn btn-primary">Go to Cart</a>
                </div>
            </div>
        </div>
        <!-- Card for kitchen -->
        <div class="col-md-3 mb-4">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Kitchen</h5>
                    <p class="card-text">All orders.</p>
                    <a href="/kitchen" class="btn btn-primary">Go to kitchen</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}