{% extends './base/staff.html' %}

{% block head %}
<title> Kitchen </title>
{% endblock %}
{% block body %}
<div class="content container">
    <!-- Auto Refresher -->
    <div class="d-flex justify-content-between align-items-center">
        <span class="ml-3" id="countdown"></span>
        <button class="btn btn-primary" id="refreshButton" onclick="location.reload()">Refresh</button>
    </div>

    <h1 class="text-center mt-5">Kitchen</h1>
    {% if kitchen_items|length < 1 %}
    <h4 class="text-center mt-4">No new orders</h4>
    {% else %}
    <div class="table-responsive mt-4">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Amount</th>
            <th scope="col">Order ID</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for item in kitchen_items %}
                <tr>
                    <td>{{ item[1].name }}</td>
                    <td>{{ item[0].quantity }}</td>
                    <td>{{ item[0].order_id }}</td>
                    <td>
                        <a href="kitchen/finish/{{item[0].order_id}}/{{item[0].dish_id}}">Finish this order</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
</div>
    <script src="../static/autoRefresh.js"></script>
{% endblock %}
