{% extends 'base.html' %}
{% block head %}
<title>Restaurant Menu QR Codes</title>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
{% endblock %}
{% block body %}
    <div class="container">
        <h1>Welcome to Our Restaurant!</h1>
        <p class="lead">Scan the QR code on your table to order:</p>
        <div class="row">
            {% for table, qr_code in table_qr_codes.items() %}
            <div class="col-md-4">
                <h5 class="table-title">Table {{ table }}</h5>
                <img src="data:image/png;base64,{{ qr_code }}" class="qr-code img-thumbnail" alt="QR Code for Table {{ table }}">
            </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
