{% extends 'base.html' %}

{% block head %}
<title> Register Page </title>
{% endblock %}

{% block body %}
<div class="position-relative" style="margin-left: 45px;">
    <h2>Register with Email</h2>
      <form action="{{ url_for('sign_up_page') }}" method="post">
          <div class="row mb-3">
              <label for="inputName" class="col-form-label">Name</label>
              <div class="col-sm-3">
                  <label>
                      <input type="text" class="form-control" name="inputName">
                  </label>
              </div>
          </div>
          <div class="row mb-3">
        <label for="inputEmail" class="col-form-label">Email</label>
        <div class="col-sm-3">
          <input type="email" class="form-control" id="inputEmail" name="inputEmail">
        </div>
      </div>
      <div class="row mb-3">
        <label for="inputPassword" class="col-form-label">Password</label>
        <div class="col-sm-3">
          <input type="password" class="form-control" id="inputPassword" name="inputPassword">
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Sign up</button>
    </form>
</div>

<div class="position-relative" style="margin-left: 45px;">
  {% if success %}
        <p style="color: green;">Success, please verify your email address before login.</p>
  {% endif %}
  {% if error %}
        <p style="color: red;">{{ error }}</p>
  {% endif %}
</div>

{% endblock %}
