{% extends './base/staff.html' %}

{% block head %}
<title>Staff Chatroom</title>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" ></script>

{% endblock %}

{% block body %}
    <div class="container">
    <h3 class="display-6">Service Center</h3>
    <form id="joinRoom" method="POST" action="#">
        <div class="mb-3">
            <label for="secretkeyNum" class="form-label">Secretkey</label>
            <input type="text" class="form-control" id="secretkeyNum" required>
        </div>
        <button type="submit" class="btn btn-primary" id="submitSecretkeyNum">Join Room</button>
    </form>
    <button id="leave_room" class="btn btn-secondary mt-3">Leave Room</button>

    <ul id="chatContent" class="list-group list-group-flush mt-3"></ul>

    <form id="SubmitForm" method="POST" action="#">
        <div class="mb-3">
            <textarea placeholder="Type here..." name="msg" id="chatMsg" class="form-control" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Send</button>
    </form>

    <button id="serverMsg" class="btn btn-success mt-3"><b>Confirmation</b></button>
    <button id="kitchenMsg" class="btn btn-danger mt-3"><b>Serve Dishes</b></button>
</div>

    <script type="text/javascript" src="../static/chatroom.js"></script>
{% endblock %}
