{% extends 'base.html' %}

{% block head %}
    <link href="{{ url_for('static', filename='css/menu/customer_view.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
    <h1>Main Menu Items</h1>
    <div class="menu-container">
        {% for e in main_menu_items %}
            <a href="{{ url_for('customer_full_menu_index', main_menu_id=e.id) }}" class="mainmenu-link">
                <div class="menu-item">
                    <img src="{{ url_for('static', filename='images/menu/mm.png') }}" alt="Main Dish Image">
                    <h3>{{ e.name }}</h3>

                </div>
           </a>
        {% endfor %}
    </div>
{% endblock %}
