{% extends layout %}

{% block head %}
    <link href="{{ url_for('static', filename='css/menu/customer_view.css') }}" rel="stylesheet" type="text/css">
{% endblock %}
{% block body %}
    <h1>Menu Items</h1>
    <div class="menu-container">
        {% for e in main_dishes %}
            <a href="{{ url_for('dishes_customer_index', general_dish_id=e.id) }}" class="mainmenu-link">
                <div class="menu-item">
                    <img src="{{ e.pic_url }}" alt="Main Dish Image">
                    <h3>{{ e.name }}</h3>
                </div>
           </a>
        {% endfor %}
    </div>
{% endblock %}
