{% extends './base/staff.html' %}

{% block head %}
<title> Data Insertion Form </title>
{% endblock %}

{% block body %}
    <h1>Data Insertion Form</h1>
    <form action="/insert_post" method="POST" enctype="multipart/form-data">
        <label for="name">Name:</label>
        <label>
            <input type="text" name="name" required>
        </label><br>

        <label for="description">Description:</label>
        <label>
            <textarea name="description" required></textarea>
        </label><br>

        <label for="image_url">Image URL:</label>
        <label>
            <textarea name="image_url" required></textarea>
        </label><br>

        <input type="submit" value="Submit">
    </form>
{% endblock %}
