{% extends 'base.html' %}

{% block head %}
<title> Dishes </title>
{% endblock %}

{% block body %}
    <h1>Dishes</h1>
    <div class="menu-container">
    {% if dishes_items %}
        {% for e in dishes_items %}
            <div class="menu-item">
                <img src="{{ url_for('static', filename='images/menu/mm.png') }}" alt="Main Dish Image">
                <h3>{{ e.name }} | {{ e.price }}</h3>
                <p>{{ e.description }}</p>
                <a href="{{ url_for('cart_layout.add_to_cart', dish_id=e.id) }}">Add to Cart</a>

            </div>
        {% endfor %}
    {% else %}
        <div class="menu-item">
            <h2>"Hakuna Matata"</h2><h3> Our kitchen is ready for you soon!</h3>
            <img src="{{ url_for('static', filename='images/menu/hm.png') }}" alt="Main Menu Image">
        </div>
    {% endif %}
    </div>

{% endblock %}
