{% extends layout %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu/customer_view.css') }}">
{% endblock %}
{% block body %}
    <h1>Main Menu Items</h1>
    <div class="menu-container">
        {% for e in main_dishes %}
            <a href="\dishes_customer_view\{{ e.id }}" class="mainmenu-link">
                <div class="menu-item">
                    {% if e.pic_url %}
                        <img src="{{ e.pic_url }}" alt="Main Menu Image" class="img-responsive" style="max-width: 100%; height: 200px; object-fit: cover;">
                    {% else %}
                        <img src="{{ url_for('static', filename='images/menu/mm.png') }}" alt="Main Menu Image" class="img-responsive" style="max-width: 100%; height: 200px; object-fit: cover;">
                    {% endif %}
                    <h3>{{ e.name }}</h3>
                    <p>{{ e.description }}</p>
                </div>
           </a>
        {% endfor %}
    </div>
{% endblock %}
